:root {
  /* base-colors */

  --color-primary: #286ef1;
  --color-primary1: #d5e3fd;
  --color-secondary: #000000;
  --color-secondary1: #1a1a1a;
  --color-white: #ffffff;
  --color-disabled: #f9f9f9;

  /* background */
  --color-bgWordmark: #eaf1fe;
  --color-bgMain: #f2f2f2;
  --color-bgMain1: #f9f9f9;

  /* message */
  --color-success: #18bb4b;
  --color-warning: #fcf4e6;

  /* font-size */
  --font-10: 10px;
  --font-12: 12px;
  --font-16: 16px;
  --font-24: 24px;

  /* box-shadow */
  --box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
